body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #1F2937;
    height: 450px;
}

.upper {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 8px;
    border: 1px solid #3882F6;
    padding: 8px 24px;
}

.lower {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px;
}

.rectangle {
    width: 500px;
    height: 200px;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    max-width: 450px;
}

.square {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 36px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.container {
    max-width: 150px;
    text-align: center;
}

.information {
    height: 400px;
}

.quote {
    height: 350px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 780px;
}

.signature {
    font-weight: bold;
    position: relative;
    left: 250px;
}

.last-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    width: 1000px;
    height: 120px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.other {
    border: 1px solid white;
}

.a-text {
    color: #F9FAF8;
}

.a-header {
    font-size: 24px;
    font-weight: bold;
}